.Search {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.input {
  margin-top: 2rem;
  position: relative;
  width: 60%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

.list {
  width: 60%;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  background-color: #fff;
}

.list-item {
  padding: 1rem;
  background-color: #fff;
  color: #000;
  list-style-type: none;
}

.list-item:focus {
  outline: 4px solid orangered;
}